{% extends 'base.html' %}

{% block title %}
    歡迎光臨，請輸入帳號密碼
{% endblock %}

{% block content_title %}
   
{% endblock %}

{% block content %}
    <h2>註冊帳號</h2>
    <form method="post" action="{{ url_for('signup') }}">
        <div>
            <label for="name">姓名</label>
            <input name="name" id="name"> 
        </div>
        <div>
            <label for="username">帳號</label>
            <input name="username" id="username"> 
        </div>
        <div>
            <label for="password">密碼</label>
            <input name="password" id="password">   
        </div>
        <div>
            <button type="submit">註冊</button>
        </div>
    </form>
    <hr>
    <h2>登入系統</h2>
    <form method="post" action="{{ url_for('signin') }}">
        <div>
            <label for="username">帳號</label>
            <input name="username" id="account"> 
        </div>
        <div>
            <label for="password">密碼</label>
            <input name="password" id="password">   
        </div>
        <div>
            <button type="submit">登入</button>
        </div>
    </form>
{% endblock %}