{% extends 'base.html' %}

{% block title %}
    <div>歡迎光臨，請輸入帳號密碼</div>
{% endblock %}

{% block content %}
    <h2>登入系統</h2>
    <form method="post" action="{{ url_for('user.signin') }}">
        <div>
            <label for="account">帳號</label>
            <input name="account" id="account"> 
        </div>
        <div>
            <label for="password">密碼</label>
            <input name="password" id="password">   
        </div>
        <div>
            <button type="submit">登入</button>
        </div>
    </form>
{% endblock %}